.git
node_modules
**/node_modules

logs
**/logs
.pids
**/.pids
*.log

minecraft-server/data/
minecraft-server/mcsmanager/data/
minecraft-server/mcsmanager/daemon/data/
minecraft-server/mcsmanager/web/data/
minecraft-server/mcsmanager/web/data.bak-*/
minecraft-server/omen-data/

/data/
/world/

.DS_Store
Thumbs.db
